.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: transparent linear-gradient(125deg, #ffffff 0%, #d8d7d7 100%) 0%
      0% no-repeat padding-box;
    height: 100vh;
}
 
.title{
    display: flex;
    padding-top: 2.3rem;
    padding-left: 5.625rem;
    width: 100%;
    justify-content: flex-start;
    div {
      color: var(--black);
      margin-left: 2.5rem;
      h1 {
        font-size: 3.1rem;
      }
      p {
        font-size: 2.5rem;
        font-weight: 200;
      }
    }
}

.content{
    display: flex;
   
    div {
      color: var(--black);
      h1 {
        font-size: 3.1rem;
      }
      p {
        font-size: 1.875rem;
        font-weight: 200;
      }
    }
}

.goBackButton{
  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 1.5rem;
    height: 3.125rem;
    background: transparent;
    width: 11rem;
    font-size: 1rem;
    font-weight: 200;
    position: relative;
    top: 12.5rem;
    right: 10rem;
    svg {
      width: 1.5rem;
      height: 1rem;
      color: var(--dark-gray);
    
  }
}
.bookNow{
    border: 1px solid var(--black);
    border-radius: 1.5rem;
    height: 3.125rem;
    background: var(--black);
    width: 11rem;
    margin-top: 0.9rem;
    margin-bottom: 1.4rem;
    font-size: 1rem;
    font-weight: 200;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s;
    svg {
      width: 1.5rem;
      height: 1rem;
      margin-left: 0.2rem;
    }
    &:hover {
      opacity: 0.9;
    }
}

.carousel{
  display: flex;
  justify-content: center;
  align-items: center;

  button{
    margin: 20px;
    width: 42px;
    height: 42px;
    border: 0;
    background: var(--black);
    border-radius: 50%;
    svg {
      color: var(--white);
  }
  }
}

.carouselImg{
  background: transparent linear-gradient(52deg, #A1A7F4 0%, #E6D3F1 100%) 0% 0% no-repeat padding-box;
  border-radius: 30px;
   
}

.goBack{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black);
  border-radius: 1.5rem;
  height: 3.125rem;
  background: transparent;
  width: 11rem;
  font-size: 1rem;
  font-weight: 200;
  svg {
    width: 1.5rem;
    height: 1rem;
    color: var(--dark-gray);
  }
}

.fadeInImage {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}